<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net461" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="GeneticSharp" version="1.0.100" targetFramework="net45" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.5" targetFramework="net45" />
  <package id="SharpLearning.Common.Interfaces" version="0.30.0" targetFramework="net461" />
  <package id="SharpLearning.Containers" version="0.30.0" targetFramework="net461" />
  <package id="SharpLearning.CrossValidation" version="0.29.0" targetFramework="net461" />
  <package id="SharpLearning.DecisionTrees" version="0.30.0" targetFramework="net461" />
  <package id="SharpLearning.InputOutput" version="0.30.0" targetFramework="net461" />
  <package id="SharpLearning.Metrics" version="0.29.0" targetFramework="net461" />
  <package id="SharpLearning.Optimization" version="0.30.0" targetFramework="net461" />
  <package id="SharpLearning.RandomForest" version="0.30.0" targetFramework="net461" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.141" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>